*{
    padding: 0;
    margin: 0 auto;
}

@font-face {
    font-family: 'Poppins';
    src: url(fonts/Poppins/Poppins-Regular.ttf);
}

body{
    background-color: #0050ff;
    width: 80%;
    font-family: 'Poppins';
}

.wrapper{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

header{
    padding: 10px;
}

header img{
    width: 200px;
    
}
.gridbox{
    border: solid black 1px;
    border-radius: 20px;
    min-height: 200px;

    background-color: #fccc14;
    padding: 10px;
    margin: 10px;
    grid-column: span 2;
}

.rooster-img img{
    width:100%;
    height: 400px;
}
.vak{
    grid-column: span 1;
    background-color: #2add5d;
}
.leraar img{
    width: 250px;
    margin: 10px;

}
.leraren{
    display: flex;
    grid-column: span 4;
    width: 100%;

    flex-direction: row;
    justify-content: space-between;
}
.smoelboek{
    display: flex;
    grid-column: span 4;
    width: 100%;
}
.smoelboek h1{
    align-items: center;
}

@media only screen and (max-width: 768px){
    .gridbox{
        grid-column: span 4;
        min-height: none;
        padding: auto;
    }
    .rooster-img img{
        width: 300px;
    }
    .leraren{
        display: flex;
        grid-column: span 4;
        width: 100%;
    
        flex-direction: column;
        justify-content: space-between;
    }
}